{% extends 'base.html'%}
{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>BOOKS</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url  'index' %}">Dashboard</a></li>
          <li class="breadcrumb-item active"><a href="{% url  'books' %}">Books</a></li>
          <li class="breadcrumb-item active">Add</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
    <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">ADD BOOK</h5>
                
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="code">Code:</label>
                        <input type="number" step="1" name="code" id="code" class="form-control mt-1" placeholder="Code No" onkeypress='return validateKeypress(/[ 0-9]/g)' required>
                    </div>
                    <div class="mb-3">
                        <label for="title">Title:</label>
                        <input type="search" name="title" id="title" class="form-control mt-1" placeholder="Title" onkeypress='return validateKeypress(/[ a-zA-Z0-9ñÑáéíóúÁÉÍÓÚüÜ.!()+=&-]/g)' required>
                    </div>
                    <div class="mb-3">
                        <label for="subtitle">Subtitle:</label>
                        <input type="search" name="subtitle" id="subtitle" class="form-control mt-1" placeholder="Subtitle" onkeypress='return validateKeypress(/[ a-zA-Z0-9ñÑáéíóúÁÉÍÓÚüÜ.!()+=&-]/g)' required>
                    </div>
                    <div class="mb-3">
                        <label for="author">Author:</label>
                        <input type="search" name="author" id="author" class="form-control mt-1" placeholder="Author" onkeypress='return validateKeypress(/[ a-zA-Z0-9ñÑáéíóúÁÉÍÓÚüÜ.!()+=&-]/g)' required>
                    </div>
                    <div class="mb-3">
                        <label for="released">Released:</label>
                        <input type="date" name="released" id="released" class="form-control mt-1" required>
                    </div>
                    <div class="mb-3">
                        <label for="publisher">Publisher:</label>
                        <input type="search" name="publisher" id="publisher" class="form-control mt-1" placeholder="Publisher" onkeypress='return validateKeypress(/[ a-zA-Z0-9ñÑáéíóúÁÉÍÓÚüÜ.!()+=&-]/g)' required>
                    </div>
                    <div class="mb-3">
                        <label for="">Category:</label>
                        <select name="category_id" id="category_id" class="form-select">
                            <option value="">-- SELECT CATEGORY --</option>
                            {% for category in categories%}
                            <option value="{{category.id}}">{{category.category}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="expense">Distribution Expense:</label>
                        <input type="number" name="expense" id="expense" class="form-control mt-1" placeholder="Distribution Expense" onkeypress='return validateKeypress(/[ 0-9.]/g)' required>
                    </div>
                    {% if msg %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Error!</strong> {{msg.error}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    <button class="btn btn-primary col-12">Save</button>
                </form>
            </div>
          </div>
        </div>
    </div>
</main>
{% endblock %}