<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
        <a class="nav-link" id="tab-dashboard" href="{% url 'index' %}">
            <i class="fa-brands fa-slideshare"></i>
            <span>&nbsp;Dashboard</span>
        </a>
    </li><!-- End Dashboard Nav -->

    <!-- <li class="nav-heading">Pages</li> -->

    <li class="nav-item">
        <a class="nav-link" id="tab-delivery" href="{% url 'deliveries' %}">
            <i class="fa-solid fa-truck-fast"></i>
            <span>&nbsp;Deliveries Distribution</span>
        </a>
    </li><!-- End Distribution Page Nav -->

    <li class="nav-item">
        <a class="nav-link" id="tab-categories" href="{% url 'categories' %}">
            <i class="fa-solid fa-inbox"></i>
            <span>&nbsp;Categories</span>
        </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
        <a class="nav-link" id="tab-books" href="{% url 'books' %}">
            <i class="fa-solid fa-book"></i>
            <span>&nbsp;Books</span>
        </a>
    </li><!-- End F.A.Q Page Nav -->

    <li class="nav-item">
        <a class="nav-link" id="tab-reports" href="{% url 'reports' %}">
            <i class="fa-solid fa-file-invoice"></i>
            <span>&nbsp;Report</span>
        </a>
    </li><!-- End Contact Page Nav -->

    <!-- <li class="nav-item">
        <a class="nav-link" id="tab-chart" href="pages-register.html">
            <i class="fa-regular fa-chart-bar"></i>
            <span>&nbsp;Chart</span>
        </a>
    </li>End Register Page Nav -->

    <!-- <li class="nav-item">
        <a class="nav-link" id="tab-users" href="pages-login.html">
            <i class="fa-solid fa-address-card"></i>
            <span>&nbsp;Users</span>
        </a>
    </li>End Login Page Nav -->

    </ul>
</aside><!-- End Sidebar-->